Repository sweetfish329/sabakan: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, cspell-backend, storybook-lint, cspell-frontend, cspell-docs

gofmt:
  run: gofmt -w {staged_files}

cspell-backend:
  run: bun --cwd ../frontend cspell --no-progress "../backend/**/*.go"

storybook-lint:
  run: bunx eslint {staged_files}

cspell-frontend:
  run: bun cspell --no-progress "**/*"

cspell-docs:
  run: bun --cwd frontend cspell --no-progress "../README.md" "../docs/**/*"

oauth
  backend/config.example.toml
  backend/internal/config/config.go
  backend/internal/handlers/oauth.go
  backend/internal/oauth/discord.go
  backend/internal/oauth/google.go
  backend/internal/oauth/provider.go
  backend/internal/oauth/provider_test.go
  backend/internal/server/server.go
Due: gofmt, cspell-backend

login page
  Containerfile
  Containerfile.dev
  frontend/angular.json
  frontend/src/app/app.routes.ts
  frontend/src/app/features/auth/login-page/login-page.stories.ts
  frontend/src/app/features/auth/login-page/login-page.ts
  frontend/src/app/features/auth/oauth-callback/oauth-callback.ts
  frontend/src/app/features/auth/register-page/register-page.stories.ts
  frontend/src/app/features/auth/register-page/register-page.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/shared/components/login-form/login-form.stories.ts
  frontend/src/app/shared/components/login-form/login-form.ts
  frontend/src/app/shared/components/register-form/register-form.stories.ts
  frontend/src/app/shared/components/register-form/register-form.ts
  frontend/src/app/shared/components/social-login-button/social-login-button.stories.ts
  frontend/src/app/shared/components/social-login-button/social-login-button.ts
  frontend/src/app/shared/index.ts
  frontend/src/index.html
  frontend/src/main.ts
Due: storybook-lint, cspell-frontend

lint fix
  GEMINI.md
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/features/auth/login-page/login-page.scss
  frontend/src/app/features/auth/login-page/login-page.ts
  frontend/src/app/features/auth/oauth-callback/oauth-callback.ts
  frontend/src/app/features/auth/register-page/register-page.scss
  frontend/src/app/features/auth/register-page/register-page.ts
  frontend/src/app/features/containers/container-card/container-card.stories.ts
  frontend/src/app/features/containers/container-card/container-card.ts
  frontend/src/app/features/containers/container-detail/container-detail.scss
  frontend/src/app/features/containers/container-detail/container-detail.stories.ts
  frontend/src/app/features/containers/container-detail/container-detail.ts
  frontend/src/app/features/containers/container-list/container-list.scss
  frontend/src/app/features/containers/container-list/container-list.stories.ts
  frontend/src/app/features/containers/container-list/container-list.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/container.service.ts
  frontend/src/app/shared/components/error-banner/error-banner.ts
  frontend/src/app/shared/components/login-form/login-form.ts
  frontend/src/app/shared/components/register-form/register-form.scss
  frontend/src/app/shared/components/register-form/register-form.ts
  frontend/src/app/shared/components/social-login-button/social-login-button.scss
  frontend/src/app/shared/components/social-login-button/social-login-button.ts
  frontend/src/test-setup.ts
Due: storybook-lint, cspell-frontend

add roles,games
  GEMINI.md
  README.md
  _typos.toml
  backend/internal/games/7daystodie.go
  backend/internal/games/ark.go
  backend/internal/games/factorio.go
  backend/internal/games/games.go
  backend/internal/games/minecraft.go
  backend/internal/games/palworld.go
  backend/internal/games/rust.go
  backend/internal/games/satisfactory.go
  backend/internal/handlers/mod.go
  backend/internal/handlers/mod_test.go
  backend/internal/server/server.go
  cspell.json
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/guards/auth.guard.spec.ts
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/core/guards/guest.guard.ts
  frontend/src/app/core/interceptors/auth.interceptor.spec.ts
  frontend/src/app/core/interceptors/auth.interceptor.ts
  frontend/src/app/features/auth/login-page/login-page.stories.ts
  frontend/src/app/features/containers/container-detail/container-detail.stories.ts
  frontend/src/app/features/containers/container-list/container-list.stories.ts
  frontend/src/app/features/mods/mod-list/mod-list.scss
  frontend/src/app/features/mods/mod-list/mod-list.stories.ts
  frontend/src/app/features/mods/mod-list/mod-list.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/mod.service.spec.ts
  frontend/src/app/services/mod.service.ts
  frontend/src/app/shared/components/info-card/info-card.stories.ts
Due: gofmt, cspell-backend, storybook-lint, cspell-frontend

mod supprot
  README.md
  backend/internal/handlers/game_server.go
  backend/internal/handlers/game_server_test.go
  backend/internal/server/server.go
  frontend/.oxlintrc.json
  frontend/.storybook/main.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/guards/auth.guard.spec.ts
  frontend/src/app/core/interceptors/auth.interceptor.spec.ts
  frontend/src/app/features/containers/container-detail/container-detail.stories.ts
  frontend/src/app/features/game-servers/game-server-card/game-server-card.html
  frontend/src/app/features/game-servers/game-server-card/game-server-card.scss
  frontend/src/app/features/game-servers/game-server-card/game-server-card.stories.ts
  frontend/src/app/features/game-servers/game-server-card/game-server-card.ts
  frontend/src/app/features/game-servers/game-server-create/game-server-create.html
  frontend/src/app/features/game-servers/game-server-create/game-server-create.scss
  frontend/src/app/features/game-servers/game-server-create/game-server-create.ts
  frontend/src/app/features/game-servers/game-server-list/game-server-list.html
  frontend/src/app/features/game-servers/game-server-list/game-server-list.scss
  frontend/src/app/features/game-servers/game-server-list/game-server-list.stories.ts
  frontend/src/app/features/game-servers/game-server-list/game-server-list.ts
  frontend/src/app/features/mods/mod-list/mod-list.stories.ts
  frontend/src/app/features/mods/mod-list/mod-list.ts
  frontend/src/app/models/game-server.model.ts
  frontend/src/app/services/game-server.service.ts
  frontend/src/app/services/mod.service.spec.ts
  frontend/src/app/shared/components/info-card/info-card.stories.ts
  frontend/storybook-static/index.json
  frontend/storybook-static/project.json
Due: gofmt, cspell-backend, storybook-lint, cspell-frontend

doc update
  GEMINI.md
  README.md
Due: none

Path conditions:
  gofmt: any of: *.go and ^backend/
  cspell-backend: any of: **/* and ^backend/
  storybook-lint: any of: **/*.stories.ts and ^frontend/
  cspell-frontend: any of: **/* and ^frontend/
  cspell-docs: any of: *.md and ^\./
